{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .products {
            display: flex;
            justify-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 80%;
            margin-left: 10%;
            padding: 10px;
        }
    </style>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="{{ product.image.url }}" alt="" width="265">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6 class="card-subtitle">{{ product.price }}</h6>
                    <h7 class="card-subtitle">{{ product.image }}</h7>
                    <a href="/products/{{ product.id }}/" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
Footer